@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'AnticDidone';
    font-style: normal;
    font-size: xx-large;
    font-weight: 10;
    font-display: swap;
    src: url(/fonts/AnticDidone.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Technology';
    font-style: normal;
    font-size: large;
    font-weight: 100;
    font-display: swap;
    src: url(/fonts/Technology.ttf) format('truetype');
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
